@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli</h1>
    <p>Dobro došli na našu aplikaciju za albume.</p>
    <p> <img width="962" height="463" src="~/Slike/Slika.jpeg"/> </p>
</div>

